# Project exclude paths
/mainRunner/target/
/project/project/target/
/project/target/
/target/
/target/scala-2.12/classes/
.idea/.gitignore
.idea/codeStyles/
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/vcs.xml
aggrout.txt/
aggrout/
hs_err_pid18916.log
hs_err_pid5000.log
replay_pid18916.log
replay_pid5000.log
src/main/scala/org/iv/kafka/model/
